---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
const {default: meData} = await import('../assets/me.json')



// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<section class="hero"> 
		<h1 class="nombre">{meData.nombre}</h1>
		<h2 class="profesion"> {meData.profesion}</h2>
		<p class="bio"> {meData.bio}	</p>
	</section>
	
	<section> 
		<h3> Experiencia</h3>
		{meData.experiencia.map((exp)=> (
			<article class="experiencia">
			<p class="exp-titulo">{exp.titulo}</p>
			<p class="exp-des">{exp.descripción}</p>
			<p class="exp-fecha">{exp.fecha}</p>
			</article>
		))}
	</section>
	
	<section>
		<h3> Habilidades</h3>
		<div class="envoltura-habilidades">
			{meData.habilidades.map ((hab)=> (
				<article class="habilidades">
				   <p>{hab}</p>
			</article>
			))}
		</div>
		

	</section>
	
</Layout>
